@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;

}
 
 body {
     background-color:rgb(241, 210, 190);
     color:rgb(68, 37, 37);
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
     font-variation-settings: "wdth" 100;
 }

 header {
     padding: 2.5rem;
     background-color:rgb(252, 175, 147);
     text-align: center;

 }
 
 main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
 }
 
 section {
   display: flex;
   flex-direction: column ;


 }
 

h2 {
 color: rgb(252, 175, 147);
font-size: 2rem;
}

p {
font-variant:small-caps;
font-weight:100;
font-size:15px;
}

fieldset {
    border: 2px solid;
    border-radius: 5px;
    padding: 1rem;
}

legend {
    color: rgb(68, 37, 37);
    padding: 0 0.5rem;
}
 
textarea { 
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(252, 175, 147);
}

button {
background-color: rgb(252, 175, 147);
border: none;
padding: 0.6rem;
color: rgb(68, 37, 37);
border-radius: 5px;
cursor: pointer;
}

.paragrafo-footer {
    color: rgb(241, 210, 190);
     background-color: rgb(68, 37, 37) ; 
    padding: 1rem;
    text-align: center;
}

 footer a {
    text-decoration: none;
    color:  rgb(250, 148, 111);
}

.Norte{
   
    color:  rgb(38, 185, 50);
}

.Nordeste{
    
    color:  rgb(216, 34, 34);
}
.Centro{
   
    color:  rgb(228, 72, 15);
}
.Sudeste{
   
    color:  rgb(236, 202, 11);
}
.Sul{
  
    color:  rgb(191, 11, 236);
}